body{
    background-color: #cbebcc8c;
    font-family: Cambria;
    margin-left: 15px;
}
#tekst {
    color:rgb(7, 22, 22);
    font: bold Cambria, sans-serif;
}

h1{
    background-color: #cbebcce5;
    color:darkslategrey;
    font: bold;
    text-transform: uppercase;
}

.form label {
    display: block; 
    font-size: 0.4rem;
}

button {
    margin-top: 1em;
    height:40px;
    width: auto;
    color:hsl(0, 92%, 28%);
    text-align: center;
    font-weight: bold;
    cursor: help;     
} 

#container{
    display: block;
    color:rgba(5, 8, 8, 0.575);
    font-size: small;
}
